body{
	background-color: rgb(40,40,40);
}

p{
	padding: 0;
}

button{
	font-family: Calibri;
	font-size: 16;
	text-align: center;
	margin-bottom: 5px;
	margin-left: 0px;
    width:200px;
    background-color: white;
    
	/*text-shadow: 1px 1px #C0C0FF;  /* Made the buttons have text shadows as well */
}

ul{
	list-style-type:none;
	padding-left:0;
}

@keyframes fadeEffect {
  from {opacity: 0.2;}
  to {opacity: 1;}
}

/*Classes*/
.mainGame {
    width: 100%;
    display:inline-block;
	visibility: hidden;
}



.alertBox{
	font-family: Verdana;
    text-indent: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #ffffff;
	width: 600px;
    color: black;
	font-size: 12px;
	margin-top: 10px;
	height: auto;
}

.tagHeader {
    font-family: Verdana;
    display: inline-block;
    font-size: 12;
    color: aliceblue;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid azure;
    font-stretch: expanded;
    
}

.tablinks {
    margin-top: 5px;
}

.tab button {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 0px;
  /*transition: 2.3s;*/
}

#tabButtonActivities,#tabButtonUpgrades,#tabButtonTravel {
    display: inline-block;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #666;
}

.tabcontent {
  animation: fadeEffect 0.5s;
}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*IDs*/
#story{
    font-family: Verdana;
    font-size: 14;
    background-color: rgb(156,204,101);
    padding: 5px;
    width: 600px;
    line-height: 1.5;
    border: 1px solid black;
}

#startGame{
	display: block;
}

#startButton{
    display: none;
}

#storyNextButton{
    display: block;
}

#playerLevel{
	font-family: Verdana;
	padding: 0px;
	overflow: hidden;
	width: 597px;
	height: 90px;
	background-color: rgb(140,204,101);
	border: 1px solid white;
	margin-bottom: 10px;
	/*text-shadow: 2px 2px #C0C0C0;*/
}

#playerStats{
    display:inline-block;
	font-family: Verdana;
	overflow: hidden;
	width: 296px;
	height: 90px;
	background-color: rgb(220,50,50);
	border: 1px solid white;
	text-indent: 0px;
	margin-bottom: 0px;
	/*text-shadow: 2px 2px #C0C0C0;*/
}

#resources{
    display:inline-block;
	font-family: Verdana;
	padding: 0px;
	overflow: hidden;
	width: 296px;
	height: 90px;
	background-color: rgb(20,200,250);
    border: 1px solid white;
	/*border: 1px solid black;*/
	margin-bottom: 0px;
	/*text-shadow: 2px 2px #C0C0C0;*/
}

#pauseButton{
	visibility: hidden;
    background-color: white;
}

#progbarActivitiesBack{
	width: 600px;
	background-color: rgb(200,200,200);
}

#progbarActivities{
	font-family: Verdana;
	height: 20px;
    margin-top: 5px;
	background-color: rgb(50,150,255); 
	text-align: left;
    text-indent: 5px;
	line-height: 20px; 
	color: black;
	visibility: hidden;
    transition: width 0.1s ease;
}

#buttonContainerActivities,#buttonContainerUpgrades{
	text-indent:3px;
	height:auto;
	display:inline-block;
	width:600px;
}

#activitiesExplore,#upgradesStorage{
	float:left;
	width:200px;
}

#activitiesPlayer,#upgradesEfficiency{
	display:inline-block;
	width:200px;
}

#level,#experience,#health,#energy,#hunger,#activity,#food,#wood,#metal,#slash{
	float: right;
    padding-right:4px;
	/*text-shadow: 2px 2px #C0C0FF;*/
}

#experiencestorage,#healthstorage,#energystorage,#hungerstorage,#foodstorage,#woodstorage,#metalstorage{
	float: right;
    padding-right: 4px;
	/*text-shadow: 2px 2px #C0C0FF;*/
	font-size: 12;
}

#upgradesSpeed {
    float:right;
    width:194px;
}



[tooltip]{
    position:relative;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 100;
    opacity:0;
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 200px;
    border-radius: 5px;
    pointer-events: none;
    opacity:0;
    word-wrap: normal;
    white-space: pre;
}

[tooltip-position='left']::before{
  left:0%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg) 
}

[tooltip-position='top']::before{
  left:50%;
}

[tooltip-position='bottom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translatey(-50%) rotate(90deg)
}

[tooltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
}

[tooltip-position='top']::after{
  left:50%;
}

[tooltip-position='bottom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}

[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
    opacity:1;
}



#tagHeaderStorage {
    background-color: rgb(80,20,10);
    width: 198px;
}

#tagHeaderEfficiency {
    background-color: rgb(20,80,10);
    width: 198px;
}

#tagHeaderSpeed {
    background-color: rgb(20,20,120);
    width: 198px;
}

#lefttext {
    text-indent: 4px;
}
